#message{

  .container{
    padding-block-start: 42px;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 4px;
  }
}

#correctWord{
  display: block;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 2px;
  display: flex;
  gap: 2px;
}