include closeButton.pug

#rules._hidden
  .container
    h2 How to play
    p.text Guess the <strong>WORDLE</strong> in six tries.<br><br>
      |Each guess must be a valid five-letter word. Hit the enter button to submit.<br><br>
      |After each guess, the color of the tiles will change to show how close your guess was to the word.
    hr
    .examples
      h3 Examples
      .examples-grid
        span.Cell.grid-cell.success W
        span.Cell.grid-cell E
        span.Cell.grid-cell A
        span.Cell.grid-cell R
        span.Cell.grid-cell Y
      span The letter <strong>W</strong> is in the word and in the correct spot.
      .examples-grid
        span.Cell.grid-cell p
        span.Cell.grid-cell.intermediate i
        span.Cell.grid-cell l
        span.Cell.grid-cell l
        span.Cell.grid-cell s
      span The letter <strong>I</strong> in the word but in the wrong spot.
      .examples-grid
        span.Cell.grid-cell v
        span.Cell.grid-cell a
        span.Cell.grid-cell g
        span.Cell.grid-cell.incorrect u
        span.Cell.grid-cell e
    +closeButton('close','rulesClose')