#message.Popup._hidden
  .container
    h2 Great!
    p The correct word was:
    #correctWord
      .Cell.incorrect H
      .Cell.incorrect e
      .Cell.intermediate l
      .Cell.success l
      .Cell.incorrect o
    +closeButton('close','messageClose')