#gameStats
  .container
    h2 Statistics
    .stats
      .stat
        span.stat-number 0
        span.stat-text Played
      .stat
        span.stat-number 0
        span.stat-text Win %
      .stat
        span.stat-number 0
        span.stat-text Current <br> Streak
      .stat
        span.stat-number 0
        span.stat-text Max <br> Streak

    +closeButton('close','statsClose')