.stats#statsList
  .stat
    span.stat-number#gameWin 0
    span.stat-text Wins
  .stat
    span.stat-number#gameLose 0
    span.stat-text Loses
  .stat
    span.stat-number#gameWinRate 0
    span.stat-text Win %
  .stat
    span.stat-number#gameCurrentStreak 0
    span.stat-text Current <br> Streak
  .stat
    span.stat-number#gameMaxStreak 0
    span.stat-text Max <br> Streak